pytest==4.5.0
pytest-forked==1.0.2
pytest-html==1.22.0
pytest-instafail==0.4.1
pytest-metadata==1.8.0
pytest-rerunfailures==7.0
pytest-sugar==0.9.2
pytest-parallel
pytest-selenium==1.17.0
pytest-ordering==0.6
requests==2.22.0
urllib3==1.25.2
yagmail==0.11.220
cx-Oracle==7.3.0
kafka-python==1.4.6
PyHive==0.6.1
pymongo==3.8.0
pymssql==2.1.4
PyMySQL==0.9.3
sasl==0.2.1
thrift==0.13.0
thrift-sasl==0.3.0
paramiko==2.7.1

